<section class="container pt-5">
  <h1>Ingrese datos</h1>
  <form action="datos" method="post" class="mt-5">
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-auto">
        <input type="text" class="form-control" name="nombre" />
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Apellido</label>
      <div class="col-sm-auto">
        <input type="text" class="form-control" name="apellido" />
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Edad</label>
      <div class="col-sm-auto">
        <input type="text" class="form-control" name="edad" />
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Aceptar</button>
  </form>
</section>
