<h1>Productos</h1>

<section>
  <h1>Agregar</h1>
  <form action="/productos" method="post">
    <div>
      <span>Nombre</span>
      <input type="text" name="nombre" id="">
    </div>
    <div>
      <span>Precio</span>
      <input type="number" name="precio" id="">
    </div>
    <button type="submit">Aceptar</button>
  </form>
</section>